.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #151d26;
    padding: 34px 28px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 300px;
    max-height: 350px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.input{
    border: none;
    background-color: transparent;
    border: 1px solid grey;
    padding: 10px;
    margin: 5px 0;
}

.button{
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 5px;
}