.containerTweet{
    padding: 10px 30px;
}

.error{
    text-align: center;
    font-weight: 700;
    color: red;
}

.valid{
    text-align: center;
    font-weight: 700;
    color: rgb(0, 255, 51);
}

.inputTweet{
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid rgb(126, 126, 126);
    width: 100%;
}

.validatonTweet{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttonTweet{
    height: 30px;
    width: 80px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #348eed;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin-left: 15px;
}